asn1crypto==0.24.0
autopep8==1.4.4
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
Flask==1.0.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
lxml==4.3.3
MarkupSafe==1.1.1
numpy==1.16.3
pandas==0.24.2
pprint==0.1
praw==6.1.1
prawcore==1.0.1
pycodestyle==2.5.0
pycparser==2.19
pymongo==3.8.0
pyOpenSSL==19.0.0
PySocks==1.7.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
selenium==3.141.0
selenium-wire==1.0.5
six==1.12.0
soupsieve==1.9.1
update-checker==0.16
urllib3==1.25.2
websocket-client==0.56.0
Werkzeug==0.15.2
win-inet-pton==1.1.0
wincertstore==0.2
